<script>
  submitLyrics = function() {
    
  }
</script>
<h1>AI創意歌詞</h1><br />
<p style="font-size: 1.3em;">原本的歌詞：<br />「怎麼去擁有，一道彩虹？怎麼去擁抱，一夏天的風？天上的星星，笑地上的人。總是不能懂，不能覺得足夠。」</p><br />
<p style="font-size: 1.3em;">輸入你想要穿插在歌詞裡的元素：</p><br />

<div class="form__group">
    <input type="text" class="form__input" id="name" placeholder="範例: 煙火" required="" />
    <label for="name" class="form__label">元素</label>
    <div class="button-group">
        <button type="button" onclick="submitLyrics();">送出</button>
        <button type="reset">重設</button>
      </div>
</div>